body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  padding: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   .9em;
  line-height: 1em;
}

/* Navigation styling */

/*#upper_nav { position: fixed; }*/
#upper_nav ul, #lower_nav ul { margin: 0px; padding: 0px; }
#upper_nav li, #lower_nav li { display: inline; }

#upper_nav, #lower_nav {
  padding: 1em;
  margin: 0em;
  background-color: #D1E3EF;
}

#upper_nav a, #lower_nav a {
  color: #666;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
}

#upper_nav a:hover, #lower_nav a:hover {
  color: #000;
}

.divider {
  color: #bbb;
}


/* Container styling */

#container {
  padding: 20px;
  margin: auto;
  width: 95%;
  min-height: 400px;
}

#container a { color: #000; text-decoration: none;}
#container a:visited { color: #666; }
#container a:hover { color: #fff; background-color:#000; }

.method_details {
  display: none;
  border: 1px solid #ccc;
  padding: 1em;
  margin: .5em 0em;
  background-color: #eee;
  border-radius: 1em;
  -moz-border-radius: 1em;
}

.list h4 {
  display: inline;
  margin-bottom: 2em;
}

.list div { padding: .5em; }
.list div > a { font-size: .7em; }
.list > div:nth-child(odd)    { background-color: #E9EFFF; }
.list > div:hover { background-color: #D1E3EF; }
.list form { display: inline; }

/* All other rails generated styles */

div.field, div.actions {
  margin-bottom: 10px;
}

table, th, tr, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}

th, tr, td {
  padding: 2px;
}


/* Some table coloring */

tr:nth-child(odd)    { background-color: #E9EFFF; }
/*tr:nth-child(even)    { background-color:#fff; }*/
tr:hover { background-color: #D1E3EF; }

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 1em;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 1em;
  list-style: square;
}

.xml {
  font-family: monospace;
  color: #444;
  font-size: .8em;
  line-height: 1em;
  white-space: pre-wrap;
}

.xml_bigger {
  font-family: monospace;
  color: #444;
  font-size: .9em;
  line-height: 1.2em;
  white-space: pre-wrap;
  margin-left: 20px;
}

p > div {
  margin-left: 10px;
}

